@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgba(58, 69, 81, 0.03);
}

.top_navbar {
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    position: fixed;
    top: 10px;
    margin: 10px;
    z-index: 10;
}

.top_navbar .top_menu {
    width: calc(100% - 70px);
    height: 100%;
    background: #fff;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.top_navbar .center_menu {
    justify-content: center;
}

.top_navbar .top_menu .logo {
    margin-left: 5px;
    color: #2e4ead;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.top_navbar .top_menu .logoExp {
    margin: auto;
    color: #2e4ead;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.top_navbar .top_menu ul {
    display: flex;
    margin: 0;
}

.top_navbar .top_menu ul li a {
    display: block;
    width: 35px;
    height: 35px;
    margin: 10px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #2e4ead;
    border-radius: 50%;
    color: #2e4ead;
}

.top_navbar .top_menu ul li a:hover {
    background: #4360b5;
    color: #fff;
}

.top_navbar .top_menu ul li a:hover i {
    color: #fff;
}

.frame {
    border-radius: 30px;
    margin: auto;
    margin-top: 130px;
    width: 60%;
    padding: 1.5rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    z-index: -1;
    background: #fff;
}

.lg {
    width: 80%;
}

.titre {
    text-align: center;
    padding: 30px 0px;
}

.title {
    text-align: center;
}

.fontSize {
    font-size: 32px;
}

.fontSizeMin {
    font-size: 14px;
}

@media only screen and (max-width: 780px) {
    .fontSize {
        font-size: 20px;
    }
    .top_navbar .top_menu {
        width: calc(100% - 10px);
    }
    .top_navbar .top_menu ul li a {
        margin: 0;
    }
    .logo {
        display: none;
    }

    .nav-link {
        padding: 2px;
    }
    .frame {
        width: calc(100% - 40px);
    }
    .qr {
        margin: 7px;
        margin-top: 130px;
        padding: 0;
        width: calc(100% - 14px);
    }
    .container {
        padding: 0;
    }
}

.table th,
td {
    text-align: center;
}

.error {
    color: red !important;
}
.error-text {
    border: 1px solid red !important;
}

.etiquette {
    margin: auto;
    width: 105mm;
    height: 42mm;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    background: #f9f9f9;
}

.etiquetteDiv {
    float: left;
    margin-top: 20px;
}

.position1 {
    margin: 0 0 0 0 !important;
}
.position3 {
    margin: 42mm 0 0 0 !important;
}

.position5 {
    margin: 88mm 0 0 0 !important;
}

.position7 {
    margin: 130mm 0 0 0 !important;
}

.position9 {
    margin: 172mm 0 0 0 !important;
}

.position11 {
    margin: 214mm 0 0 0 !important;
}

.position13 {
    margin: 256mm 0 0 0 !important;
}

.position2 {
    margin: 0 0 0 105mm !important;
}
.position4 {
    margin: 42mm 0 0 105mm !important;
}

.position6 {
    margin: 88mm 0 0 105mm !important;
}

.position8 {
    margin: 130mm 0 0 105mm !important;
}

.position10 {
    margin: 172mm 0 0 105mm !important;
}

.position12 {
    margin: 214mm 0 0 105mm !important;
}

.position14 {
    margin: 256mm 0 0 105mm !important;
}

.qrcode,
.qrcode svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    html,
    body {
        width: 210mm;
        height: 298mm;
    }
}
