@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgba(58, 69, 81, 0.03);
}

.top_navbar {
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    position: fixed;
    top: 10px;
    margin: 10px;
    z-index: 10;
}

.top_navbar .top_menu {
    width: calc(100% - 70px);
    height: 100%;
    background: #fff;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /*border: 1px solid;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
}

.top_navbar .center_menu {
    justify-content: center;
}

.top_navbar .top_menu .logo {
    /*width: 60%;*/
    /*margin: auto;*/
    margin-left: 5px;
    color: #2e4ead;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.top_navbar .top_menu .logoExp {
    /*width: 60%;*/
    margin: auto;
    color: #2e4ead;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.top_navbar .top_menu ul {
    display: flex;
    margin: 0;
}

.top_navbar .top_menu ul li a {
    display: block;
    width: 35px;
    height: 35px;
    margin: 10px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #2e4ead;
    border-radius: 50%;
    color: #2e4ead;
}

.top_navbar .top_menu ul li a:hover {
    background: #4360b5;
    color: #fff;
}

.top_navbar .top_menu ul li a:hover i {
    color: #fff;
}

.frame {
    border-radius: 30px;
    margin: auto;
    margin-top: 130px;
    width: 60%;
    padding: 1.5rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    z-index: -1;
    background: #fff;
}

.lg {
    width: 80%;
}

.titre {
    text-align: center;
    padding: 30px 0px;
}

.title {
    text-align: center;
}

.fontSize {
    font-size: 32px;
}

@media only screen and (max-width: 700px) {
    .fontSize {
        font-size: 20px;
    }
    .top_navbar .top_menu {
        width: calc(100% - 10px);
    }
    .top_navbar .top_menu ul li a {
        margin: 0;
    }
    .logo {
        display: none;
    }

    .nav-link {
        padding: 2px;
    }
    .frame {
        width: calc(100% - 40px);
    }
}

.table th,
td {
    text-align: center;
}

.error {
    color: red !important;
}
.error-text {
    border: 1px solid red !important;
}
